@model ReporteTransaccionesDetalladas
@{
    ViewData["Title"] = "Reporte Diario";
}

<partial name="_SubMenu" model="SubMenuTransacciones.Diario"/>

<a asp-action="Crear" asp-controller="Transacciones" class="btn btn-primary mb-3">Crear Transaccion</a>

<partial name="_ReporteTransaccionesDetalladas" model="Model" />
